@{
    ViewBag.Title = "Inicio";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Facturas</h1>
</div>

<div class="row">

    <div class="col-sm-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Número de facturas mesuales</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">5</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Número de facturas anuales</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">60</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Facturar</h6>
            </div>
            <div class="card-body">
                Empieza a crear facturas desde aquí de forma intuitiva y sencilla.
                <div class="list-group mt-2">
                    <a href="~/Invoice/Invoices" class="list-group-item list-group-item-action">Crear factura</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Configurar</h6>
            </div>
            <div class="card-body">
                Desde aquí puedes empezar a configurar lo que necesitas para crear tus facturas:
                <div class="list-group mt-2">
                    <a href="~/Setup/Persons/" class="list-group-item list-group-item-action">Configurar personas</a>
                    <a href="~/Setup/Products" class="list-group-item list-group-item-action">Configurar productos</a>
                    <a href="~/Setup/Categories" class="list-group-item list-group-item-action">Categorías</a>
                    <a href="~/Setup/Taxes" class="list-group-item list-group-item-action">Configurar impuestos</a>
                    <a href="~/Setup/PaymentTypes" class="list-group-item list-group-item-action">Configurar formas de pago</a>
                    <a href="~/Setup/PersonTypes" class="list-group-item list-group-item-action">Configurar tipos de personas</a>
                    <a href="~/Setup/DocumentTypes" class="list-group-item list-group-item-action">Configurar tipos de documentos</a>
                </div>
            </div>
        </div>
    </div>
</div>