@model Facturación.Entities.ProductCategories.Category

@{
    ViewBag.Title = "Crear categoría";
}

<h1 class="h3 mb-2 text-gray-800">Crear categoría</h1>
<p class="mb-4">Crea las categorías que serán asignadas a tus productos.</p>

<div class="card border-primary shadow mb-4">
    <div class="card-header py-3">
        <div class="h4 font-weight-bold text-primary">
            Categorías
            <a href="/Setup/Categories/" style="width:100px" class="float-right mx-2 text-white btn btn-primary">Volver</a>
        </div>
    </div>
    @using (Html.BeginForm("Create", "Categories"))
    {
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Código</label>
                        <input class="form-control" name="Code" id="Code" required />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" name="Name" id="Name" required />
                    </div>
                </div>
            </div>
            <button style="width:100px" type="submit" class="float-right text-white btn btn-info">Guardar</button>
        </div>
    }
</div>