@model Facturación.Entities.Invoices.Invoice

@{
    ViewBag.Title = "Crear factura";
}

<h1 class="h3 mb-2 text-gray-800">Crear factura</h1>
<p class="mb-4">Ingresa los respectivos datos para crear tu factura.</p>

<div class="card border-primary shadow mb-4">
    <div class="card-header py-3">
        <div class="h4 font-weight-bold text-primary">
            Facturas
            <a href="/Invoice/Invoices/" style="width:100px" class="float-right mx-2 text-white btn btn-primary">Volver</a>
        </div>
    </div>
    @using (Html.BeginForm("Create", "Invoice"))
    {
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Cliente</label>
                        @*@Html.DropDownList("Customer", null, "Selecciona un cliente", new { @class = "form-control" })*@
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Número de órden</label>
                        <input class="form-control" name="OrderNumber" id="OrderNumber" required />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Forma de pago</label>
                        @*@Html.DropDownList("PaymentType", null, "Selecciona una forma de pago", new { @class = "form-control" })*@
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Fecha</label>
                        <input type="text" name="Date" id="Date" required />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Vendedor</label>
                        <input class="form-control" name="Seller" id="Seller" required />
                    </div>
                </div>
            </div>
            <button style="width:100px" type="submit" class="float-right text-white btn btn-info">Guardar</button>
        </div>
    }
</div>
<script>
    $(function () {
        $('input[name="Date"]').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            minYear: parseInt(moment().format('YYYY'),10),
            maxYear: parseInt(moment().format('YYYY'),10)
        })
    })
</script>