@model IEnumerable<Facturación.Entities.PersonTypes.PersonType>

@{
    ViewBag.Title = "Tipos de personas";
}

<h1 class="h3 mb-2 text-gray-800">Consultar tipos de personas</h1>
<p class="mb-4">Aquí puedes ver los tipos de personas que pueden ser asingados a cada persona que crees.</p>

<div class="card border-primary shadow mb-4">
    <div class="card-header py-3">
        <div class="h4 font-weight-bold text-primary">
            Tipos de personas
            <a href="/Setup/PersonTypes/Create" style="width:100px" class="float-right text-white btn btn-primary">Crear</a>
        </div>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nombre</th>
                        <th style="width:110px"></th>
                        <th style="width:110px"></th>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr id="@item.Id">
                        <td>@Html.Raw(item.Code)</td>
                        <td>@Html.Raw(item.Name)</td>
                        <td style="width:110px">
                            <a href="~/Setup/PersonTypes/Edit/@item.Id" class="btn btn-primary btn-icon-split btn-sm">
                                <span class="icon text-white-50">
                                    <i class="mt-1 fas fa-pencil-alt"></i>
                                </span>
                                <span class="text text-white">Editar</span>
                            </a>
                        </td>
                        <td style="width:110px">
                            <a href="~/Setup/PersonTypes/Delete/@item.Id" return false" class="btn btn-danger btn-icon-split btn-sm">
                                <span class="icon text-white-50">
                                    <i class="mt-1 fas fa-eraser"></i>
                                </span>
                                <span class="text text-white">Eliminar</span>
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
