@model Facturación.Entities.Persons.Person
@{
    ViewBag.Title = "Crear persona";
}

<h1 class="h3 mb-2 text-gray-800">Crear persona</h1>
<p class="mb-4">Crea las personas que serán vendedores o clientes.</p>

<div class="card border-primary shadow mb-4">
    <div class="card-header py-3">
        <div class="h4 font-weight-bold text-primary">
            Personas
            <a href="/Setup/Persons/" style="width:100px" class="float-right mx-2 text-white btn btn-primary">Volver</a>
        </div>
    </div>
    @using (Html.BeginForm("Create", "Persons"))
    {
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Tipo de persona</label>
                        @Html.DropDownList("PersonType", null, "Selecciona un tipo de persona", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" name="FirstName" id="FirstName" required />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Apellido</label>
                        <input class="form-control" name="SurName" id="SurName" required />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Tipo de identificación</label>
                        @Html.DropDownList("DocumentType", null, "Selecciona un tipo de documento" , new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Número de identificación</label>
                        <input class="form-control" name="IdentificationNumber" id="IdentificationNumber" required />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Teléfono</label>
                        <input class="form-control" name="Phone" id="Phone" required />
                    </div>
                </div>
            </div>
            <button style="width:100px" type="submit" class="float-right text-white btn btn-info">Guardar</button>
        </div>
    }
</div>